<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-th-fragment="footer">
<head>
    <meta charset="utf-8">
    <title>页尾</title>
</head>
<body>
<h1>页脚</h1>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!--jquery toastr错误提示-->
<script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
<!--图片切图 -->
<script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
<!--md编辑器-->
<script src="../../js/thinker-md.vendor.js" th:src="@{/js/thinker-md.vendor.js}"></script>
<!--标签控件-->
<script src="../../js/jquery.tag-editor.js" th:src="@{/js/jquery.tag-editor.js}"></script>
<!--下拉控件-->
<script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
<!--分类目录-->
<script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
<!-- 下拉框 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<!--标签控件-->
<script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
</body>
</html>