

<form id="userForm">
    <input type="hidden" name="id">
    <div class="form-group ">
        <label for="userName" class="col-form-label">账号</label>
        <input type="text" class="form-control" id="userName" name="userName"  maxlength="50" placeholder="请输入账号，至少3个字符，至多20个">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control" id="name" name="name"  aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="authorities" class="col-form-label">角色</label>
        <select id="authorities" name="authorityId" class="form-control form-control-chosen" data-placeholder="请选择">
            <option value="1">管理员</option>
            <option value="2">博主</option>
        </select>
    </div>
</form>
